@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(./font/Gilroy-Semibold.woff2);
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(./font/Gilroy-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.top {
    width: 1170px;
    height: 943px;
    padding-top: 14px;
}

.header {
    height: 40px;
    display: flex;
    justify-content: space-between;    
    margin-bottom: 84px;
}

.header_links {
    width: 533px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_links {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
}

.nav_links {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
}

.top_content {   
    height: 375px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
}
/* Блок текста с кнопкой в блоке контента */
.top_info {
    width: 522px;
}

.title {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
}

.sub_title {    
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
}
/* Блок кнопки видео с текстом */
.button_meta {
    margin-top: 37px;
    width: 302px;
}

.top_button {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
}
/* Текст справа от кнопки просмотра видео */
.top_button_video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border: none;
    background: none;
}

.logos {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 1915px;
    height: 1410px; 
}

.features {
    height: 491px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 381px);
    justify-content: center;
}

.features_item {
    width: 370px;
    height: 241px;
    flex-shrink: 0;
    background: #FFF;
    padding: 40px 30px 25px 30px;
}

.feature_item_center {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.heading_content {
    margin-top: 25px;
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
}

.text_content {
    width: 310px;
    height: 42px;
    margin-bottom: 25px;
    flex-shrink: 0;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    line-height: 150%; /* 22.5px */
}

.button_read {
    height: 17px;
    flex-shrink: 0;
    width: 64px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    line-height: 150%; /* 16.5px */
    border: none;
    background: none;
}

.services {
    height: 919px;
    padding-top: 92px;
    padding-bottom: 36px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header_services {
    color: #000;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 45px;
}

.text_services {
    margin-top: 19px;
    margin-bottom: 54px;
    width: 682px;
    height: 48px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 150%; /* 24px */
}

.services_items {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
}

.services_item {
    width: 370px;
    height: 549px;
    flex-shrink: 0;
    background: #FFF;
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.services_item_center {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.header_content {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    /* text-align: center; */
}
.text_content {
    margin-top: 22px;
    margin-bottom: 39px;
    color: #AAA;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    text-align: center;
}

.button_learn {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border-radius: 50px;
    background: #F25822;
    border: none;
}