* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top {
    padding-top: 14px;
    padding-bottom: 32px;
}

.header {
    margin-bottom: 21px;
}

.header_links {
    margin-top: 37px;
    margin-bottom: 60px;
    padding: 11px 14px 12px 9px;
}

.home_links {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_links {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Блок текста с кнопкой в блоке контента */
.top_info {
    margin-top: 15px;
    margin-bottom: 27px;
}

.title {
    margin-top: 59px;
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub_title {    
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Блок кнопки видео с текстом */
.button_meta {
    margin-top: 16px;
    margin-bottom: 38px;
}

.top_button {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
}
/* Текст справа от кнопки просмотра видео */
.text_about_video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logos {
    margin-top: 53px;   
}